html,body{
	font-family:'Open Sans',Helvetica,sans-serif;
}

h1, h2, h3{
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
    color: #FFF;
}
h1{
	font-size: 4em;
	color: #ff0000;
	text-shadow: 0px 1px 0px #eb0000, 0px 2px 0px #c40000, 0px 3px 0px #9d0000, 0px 4px 0px #760000, 0px 5px 0px #4e0000, 0px 6px 0px #3b0000, 0px 7px 0px #270000, 0px 8px 7px #001135;
}

a:link, a:visited{
    color: #0000EE;
}

a:hover{
    color: #82c3ff;
}

a:active{
    color: #FF4A4A;
}
